html , body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.audio_container {
    margin: 20px;
    position:inherit;
}

audio {
    transform: scale(2.5);
    transform-origin: top left;

}
